<!-- Jury Dashboard-->
<div class="container">
  <div class="row">

    <!-- Lien vers les catégories ou le jury doit voter -->
    <div class="col-md-6 p-3">
      <h2>Organismes dont vous êtes partenaires</h2>
        <% @jury.organism_juries.each do |organism| %>
          <div class="card border-0 shadow rounded-8">
            <div class="card-body">
              <h5 class="card-title"><%= organism.organism.nom %></h5>
            </div>
          </div>
        <% end %>
    </div>

    <div class="col-md-6 p-3">
      <h2>Performances à évaluer (groupées par catégories)</h2>
        <% @jury.categories_juries.each do |category_jury| %>
          <div class="card border-0 shadow rounded-8">
            <div class="card-body">
              <!-- Envoyer le jury vers un index d'inscriptions qu'il puisse consulter et voter (le même que pour organisateur)-->
                <%= link_to category_jury.category.name, jury_jury_inscriptions_path(@jury, category_id: category_jury.category.id) %>
            </div>
          </div>
        <% end %>

    </div>

  </div>
</div>
