// Define variables for your color scheme

// For example:
$red: #ff7577;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #26a36b;
$green-dark: #0e4c21;
$gray: #0E0000;
$light-gray: #ececec;

$very-light-green: #f0fdf6;
$light-yellow: #fff8e1;
$light-green: #e6fcf0;
$light-red: #ffecec;
$light-blue: #e6f9ff;
$light-orange: #fff7e6;
$light-purple: #f9f0ff;
$light-pink: #ffecec;

$primary-light-background: #e5fadc;
$info-light-background: #e6f9ff;
