<div id="<%= dom_id organism %>">
  <p>
    <strong>Organisateur:</strong>
    <%= organism.organisateur_id %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= organism.nom %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organism.description %>
  </p>

</div>
