<div class="mt-4">
  <%= link_to "Retour", :back, class:"btn btn-outline-dark mb-3" %>
  <%= render "form", organism: @organism %>
  <%= link_to "Retour", organisateur_dashboard_path, method: :get, data: { turbo_action: 'replace', turbo_frame: 'organism_frame' }, class: 'btn btn-outline-dark mt-2' %>
</div>
