<h1><%= @organism.nom %></h1>
<%= render Navigation::BackLinkComponent.new(link_path: organisateur_dashboard_path, link_text: t('dashboard.admin.title')) %>
<div class="container bg-light">
  <div class="mt-4 p-3">
    <%= render "form", organism: @organism %>
  </div>
</div>
