// Specific CSS for your home-page
.suggestions-container {
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1000;
  background: white;
  width: 100%;
}

.suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}

.large-button {
  font-size: 1.25em;
  padding: 0.40em;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.gradient-button {
  // background: linear-gradient(to top, #785593, #ae63b9);
  background: linear-gradient(to bottom, #e8c392, rgb(247, 233, 167));
  border: none;
  color: #000000;
}

.gradient-button:hover {
  // background: linear-gradient(to bottom, #82629b, #ebbaf3);
  background: linear-gradient(to bottom, #9b8162, rgb(61, 59, 48));
  color: #ffffff;
}


.text-gradient {
  // background: linear-gradient(to top, rgb(115, 0, 50), rgb(255, 180, 230));
  background: linear-gradient(to bottom, #9b8162, rgb(247, 233, 167));
  -webkit-background-clip: text; /* Clip text to the gradient */
  color: transparent; /* Make text transparent to show the gradient */
}

// .text-gradient {
//   // background: linear-gradient(to top, rgb(115, 0, 50), rgb(255, 180, 230));
//   background: linear-gradient(to bottom, #82629b, #ebbaf3);
//   -webkit-background-clip: text; /* Clip text to the gradient */
//   color: transparent; /* Make text transparent to show the gradient */
// }


.text-secondary-gradient {
  // background: linear-gradient(to right, #8C72A0, #ebbaf3);VIOLET
  background: linear-gradient(to bottom, #9b8162, rgb(247, 233, 167));
  -webkit-background-clip: text; /* Clip text to the gradient */
  color: transparent; /* Make text transparent to show the gradient */
}
.bg-grey {
  background-color: #EEEEEE; /* Adjust the color code to your preferred shade of grey */
}

.bg-light-grey {
  background-color: #F4F4F4;
}

.bg-light-gradient {
  background: linear-gradient(to bottom, #fdf6ee, rgb(255, 251, 230));
}

.text-light-grey {
  color: #EEEEEE; /* Adjust the color code to your preferred shade of grey */
}

body {
  padding-top: 50px; /* Adjust this value based on the height of your navbar */
}

.card-hover {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-20 {
  border-radius: 20px;
}

.breadcrumbs a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  // background-color: #f8f9fa;
  text-decoration: none;
  // box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.breadcrumbs a:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.breadcrumbs-xs a {
  padding: 5px 5px;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  border-radius: .2rem;
  color: #f1f1f1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: #010101;
  text-decoration: none;
}

.bg-success-secondary {
  background-color: #e6ffec !important;
}

.bg-info-secondary {
  background-color: #f1ead1 !important;
}

.bg-warning-secondary {
  background-color: #fff3cd !important;
}

.bg-danger-secondary {
  background-color: #f8d7da !important;
}

.bg-info-secondary {
  background-color: #fffce9 !important;
}

.nav-pills .nav-link {
  color: #888; /* Color for inactive tabs */
}
.nav-pills .nav-link:hover {
  color: #333; /* Color on hover */
  // background-color: gradient from top to bottom, bottom should be transparent
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #333 !important; /* Color for active tab */
  background-color: #ddd !important; /* Background color for active tab */
  border: 1px solid #ddd !important; /* Border for active tab */
}

.fas.custom-size {
  font-size: 1.5em; /* Adjust this value to get the size you want */
}

.bg-info-light {
  background-color: #d1ecf1 !important;
}

.draggable-item {
  cursor: move;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f9fa; // light gray
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
  }
}
.image-upload {
  position: relative;
}

.image-placeholder-4-6 {
  width: 240px; /* 4 inches at 60dpi */
  height: 360px; /* 6 inches at 60dpi */
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.image-placeholder-6-4 {
  height: 360px; /* 4 inches at 60dpi */
  width: 540px; /* 6 inches at 60dpi */
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.image-placeholder-p {
  font-size: 2em;
  color: #ccc;
}

.image-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-inputs input{
  border: none !important;
}

.form-inputs select {
  border: none !important;
}

.is-valid {
  border-color: #0d6efd !important; /* This is Bootstrap's primary color */
}
.is-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25) !important; /* This adds a glow effect around the input field when it's focused */
}
// .form-control:valid, .is-valid {
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='rgba(13, 110, 253, 0.5)' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
// }
input::placeholder {
  color: rgb(175, 175, 175);
  font-style: italic;
}

.form-control::placeholder {
  color: rgb(175, 175, 175);
  font-style: italic;
}
abbr[title="required"] {
  color: red;
}
