<div class="p-3 border rounded-3 bg-infobox-light text-secondary">
  <i class="<%= @icon %> me-2"></i>
  <% if @title %>
    <h5><%= @title %></h4>
  <% end %>
  <p class="mb-0"><%= @text %></p>
</div>
