<li class="list-group-item p-2 d-flex flex-column">
  <p class="lead mb-1"><span class="badge rounded-pill border text-dark bg-light shadow-sm "><%= @requirement_item.type_item %></span> <%= @requirement_item.title %></p>

  <small class="text-secondary bg-white p-2"><%= @requirement_item.description_item %></small>
</li>
