<h1><%= t('partners.edit.editing_partner') %></h1>

<%= render "form", partner: @partner %>

<br>

<div>
  <%= link_to t('global.actions.show'), @partner %> |
  <%= link_to t('global.actions.back'), partners_path %>
</div>
