<h1>Nouveau jury</h1>

<!-- Section selectionner un jury et l'associer a mon organism -->

<!-- Section inviter un user sur la plateforme et lui créer un jury -->

<!-- Section l'utilisateur existe déja, lui créer un jury et l'associer a mon organisme-->
