<div id="<%= dom_id competition %>">
  <p>
    <strong>Organism:</strong>
    <%= competition.organism_id %>
  </p>

  <p>
    <strong>Nom concours:</strong>
    <%= competition.nom_concours %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= competition.description %>
  </p>

</div>
