<div id="<%= dom_id competition %>">

  <div class="mb-3">
    <span class="badge bg-white border border-dark text-dark">Nom:</span>
    <span class="ms-2"><%= competition.nom_concours %></span>
  </div>

  <div>
    <span class="badge bg-white border border-dark text-dark">Description:</span>
    <span class="ms-2"><%= competition.description %></span>
  </div>

  <%# Photo  %>
  <div class="mt-3">
    <span class="badge bg-white border border-dark text-dark">Photo:</span>
     <%= cl_image_tag competition.photo.key, height: 300, width: 400, crop: :fill   if competition.photo.attached? %>
  </div>
</div>
