<div id="<%= dom_id choice_imposed_work_air %>">
  <p>
    <strong>Choice imposed work:</strong>
    <%= choice_imposed_work_air.choice_imposed_work_id %>
  </p>

  <p>
    <strong>Air:</strong>
    <%= choice_imposed_work_air.air_id %>
  </p>

</div>
