<h1>New choice imposed work air</h1>

<%= render "form", choice_imposed_work_air: @choice_imposed_work_air %>

<br>

<div>
  <%= link_to "Back to choice imposed work airs", choice_imposed_work_airs_path %>
</div>
