  <%= link_to @link_path, class: "text-primary text-decoration-none py-3 px-0", style: "font-size: 16px" do %>
    <i class="fas fa-angle-left"></i>
    <span class="text-primary"><%= t('global.back_to_var', var: @link_text) %></span>
  <% end %>
