<div class="p-3">
  <%= link_to @link_path, class: "text-secondary text-decoration-none", style: "font-size: 16px" do %>
    <i class="fas fa-angle-left"></i>
    <span class="text-secondary"><%= t('global.back_to_var', var: @link_text) %></span>
  <% end %>
</div>
