<h1><%= t('airs.edit.title') %></h1>

<%= render "form", air: @air %>

<br>

<div>
  <%= link_to t('airs.common.actions.show'), @air %> |
  <%= link_to t('airs.common.actions.back'), airs_path %>
</div>
