<p style="color: green"><%= notice %></p>

<h1>Airs</h1>

<div id="airs">
  <% @airs.each do |air| %>
    <%= render air %>
    <p>
      <%= link_to "Show this air", air %>
    </p>
  <% end %>
</div>

<%= link_to "New air", new_air_path %>
