<div id="<%= dom_id candidat %>">
  <p>
    <strong>User:</strong>
    <%= candidat.user_id %>
  </p>

  <p>
    <strong>Cv:</strong>
    <%= candidat.cv %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= candidat.bio %>
  </p>

</div>
