<h1 class="mt-3"><%= t('candidats.edit.title') %></h1>
<%= render Navigation::BackLinkComponent.new(link_path: candidat_path(@candidat), link_text: t('global.profile')) %>
<%= render InfoboxComponent.new(text: t('candidats.edit.subtitle') + ' ' + t('candidats.edit.warning')) %>
<div class="container">
  <%= render "form", candidat: @candidat %>
</div>
