<h1>Modifier vos informations</h1>
<p class="lead">Ces informations sont nécessaires pour pouvoir vous inscrire à un concours.</p>
<%= link_to "Retour", :back, class: 'btn btn-light shadow-sm border mb-3' %>
<%= render "form", candidat: @candidat %>

<br>

<div>
  <%= link_to "Show this candidat", @candidat %> |
  <%= link_to "Back to candidats", candidats_path %>
</div>
