<p style="color: green"><%= notice %></p>

<h1>Candidats</h1>

<div id="candidats">
  <% @candidats.each do |candidat| %>
    <%= render candidat %>
    <p>
      <%= link_to "Show this candidat", candidat %>
    </p>
  <% end %>
</div>

<%= link_to "New candidat", new_candidat_path %>
