<h1>Editing choice imposed work</h1>

<%= render "form", choice_imposed_work: @choice_imposed_work %>

<br>

<div>
  <%= link_to "Show this choice imposed work", @choice_imposed_work %> |
  <%= link_to "Back to choice imposed works", choice_imposed_works_path %>
</div>
