<h1><%= t('choice_imposed_works.edit.title') %></h1>
<%= link_to t('choice_imposed_works.edit.back'), :back, class: 'btn btn-secondary' %>

<%= render "form", choice_imposed_work: @choice_imposed_work %>
