<div class="container">
  <div class="row justify-content-center">
      <div class="p-3 bg-white">
        <%= link_to t('choice_imposed_works.new.back'), :back, class: "btn btn-outline-dark mt-4 mb-2" %>
        <h1 class="pt-3"><%= t('choice_imposed_works.new.title') %></h1>
        <p class="p-3 bg-info-secondary text-secondary">
          <i class="fas fa-info-circle"></i>
          <%= t('choice_imposed_works.new.explanation') %>
        </p>
        <%= render "form", choice_imposed_work: @choice_imposed_work %>
      </div>
  </div>
</div>
