<p style="color: green"><%= notice %></p>

<%= render @choice_imposed_work %>

<div>
  <%= link_to t('choice_imposed_works.show.edit'), edit_choice_imposed_work_path(@choice_imposed_work) %> |

  <%= button_to t('choice_imposed_works.show.destroy'), @choice_imposed_work, method: :delete %>
</div>
