
<div class="sidebar bg-light w-100 px-4" style="position: sticky; top: 90px; height: 90vh;">
  <% sidebar_links.each do |link| %>
    <%# <%= link_to link[:label], link[:url], class: "nav-link mb-3 pt-3 " %>
    <%= link_to link[:url], class: "nav-link mb-3 p-2 " do %>
      <% if link[:status] %>
        <span class="badge rounded-pill border bg-success-secondary border-success text-success"><%= link[:status] %></span>
      <% end %>
      <span><%= link[:label] %></span>
    <% end %>
  <% end %>
</div>
