
<div class="sidebar bg-light w-100 px-4 pt-3" style="position: sticky; top: 90px; height: 90vh;">
  <% sidebar_links.each do |link| %>
    <%= link_to link[:url], class: "nav-link mb-3 p-2" do %>
      <% if link[:status] %>
        <span class="badge rounded-pill border bg-success-secondary text-dark"><%= link[:status] %></span>
        <span class=""><%= link[:label] %></span>
      <% else %>
      <span class="h5"><%= link[:label] %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
