<div id="<%= dom_id edition_competition %>">
  <p>
    <strong>Competition:</strong>
    <%= edition_competition.competition_id %>
  </p>

  <p>
    <strong>Annee:</strong>
    <%= edition_competition.annee %>
  </p>

  <p>
    <strong>Details specifiques:</strong>
    <%= edition_competition.details_specifiques %>
  </p>

</div>
