<h1>Editing edition competition</h1>

<%= render "form", edition_competition: @edition_competition %>

<br>

<div>
  <%= link_to "Show this edition competition", @edition_competition %> |
  <%= link_to "Back to edition competitions", edition_competitions_path %>
</div>
