<div class="p-3">
<%= render 'form', edition_competition: @edition_competition %>
<%= link_to "Annuler", organism_competition_edition_competitions_path(@organism, @competition), class:"btn btn-outline-dark mt-2" %>
</div>
