<div class=" mt-5 row justify-content-center align-items-center">
    <div class="col-8 col-sm-6 shadow p-3">
    <h1>New edition competition</h1>

    <%= render "form", edition_competition: @edition_competition %>

    <br>

    <div>
      <%= link_to "Back to edition competitions", edition_competitions_path %>
    </div>
  </div>
</div>
