<div id="<%= dom_id candidate_program_air %>">
  <p>
    <strong>Candidate program:</strong>
    <%= candidate_program_air.candidate_program_id %>
  </p>

  <p>
    <strong>Air:</strong>
    <%= candidate_program_air.air_id %>
  </p>

</div>
