<h1>New candidate program air</h1>

<%= render "form", candidate_program_air: @candidate_program_air %>

<br>

<div>
  <%= link_to "Back to candidate program airs", candidate_program_airs_path %>
</div>
