<div id="<%= dom_id free_choice_air %>">
  <p>
    <strong>Free choice:</strong>
    <%= free_choice_air.free_choice_id %>
  </p>

  <p>
    <strong>Air:</strong>
    <%= free_choice_air.air_id %>
  </p>

</div>
