<h1>Editing candidate program</h1>

<%= render "form", candidate_program: @candidate_program %>

<br>

<div>
  <%= link_to "Show this candidate program", @candidate_program %> |
  <%= link_to "Back to candidate programs", candidate_programs_path %>
</div>
