<h1>Editing programme requirement</h1>

<%= render "form", programme_requirement: @programme_requirement %>

<br>

<div>
  <%= link_to "Show this programme requirement", @programme_requirement %> |
  <%= link_to "Back to programme requirements", programme_requirements_path %>
</div>
