<h1><%= t('programme_requirements.edit.editing_programme_requirement') %></h1>

<%= render "form", programme_requirement: @programme_requirement %>

<br>

<div>
  <%= link_to t('global.actions.show'), @programme_requirement %> |
  <%= link_to t('global.actions.back'), programme_requirements_path %>
</div>
