<div class="container">
  <%= link_to "Retour", :back, class:'btn btn-outline-dark mt-4 mb-2' %>
  <h1>Modifier le tour</h1>

  <%= render "form", tour: @tour %>

  <br>

  <div>
  <%= link_to "Back", :back %>
  </div>
</div>
