<H1>Votre planning (Vous pouvez le modifier tant que vous n'avez pas envoyer les convocations)</H1>
<small>Vous pourrez le modifier ultérieurement bien sur, mais devrez notifier vous même les candidats.</small>

<!-- Faire apparaitre le nom de la catégorie -->
<!-- Faire apparaitre le nom du candidat -->
<!-- Faire apparaitre le nom de la salle ou de l'endroit, etc... -->
<!-- Vue bien présentée d'un planning simplifié (case pour candidats X à Z avant le déjeuner), paus-->

<!-- Vue bien présentée d'un planning détaillé (a destination du jury peut être ? avec heure de passage estimée, airs présentés avec le détail ) -->
