<h1 class="">
  <% if I18n.locale != :en %>
    <%= @tour.title.upcase %>
  <% else %>
    <%= @tour.title_english.upcase %>
  <% end %>
</h1>

<div class="pb-2">
  <%= render Navigation::BackLinkComponent.new(link_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), link_text: @tour.category.name) %>
</div>
<%= render @tour if current_user.organisateur %>
