    <section class="text-dark py-5 bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">

            <%# <h1 style="font-size: 60px">Welcome to <span style="font-size: 2em;" class="text-gradient">Musicast</span></h1> %>
            <h1 style="font-size: 80px"><span class="text-gradient", style="font-size: 1.3em;">Musicast</span> <br>Organize competitions</h1>
            <%# <p class="lead">Simplifies the process of organizing classic arts competitions and managing contestants. Adapts to your specific structure requirements.</p> %>
            <p class="lead" style="color: rgb(200, 200, 200)">A set of tools for a seamless experience of organising, managing and promoting your competition and auditions to a broad variety of artists. </p>

           <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3" %>

          </div>
            <div class="col-md-6">
              <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow">
            </div>
      </div>


    <div class="container" style="margin-top: 130px;">
      <div class="row gap-5 justify-content-center">
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary far fa-user-circle fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Registration Management</h2>
          <p>Manage sign-ups, document fees, and receive organized submissions of audios, videos, MP3s, and photos from contestants.</p>
        </div>
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary fa-regular fa-clipboard fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Order Management</h2>
          <p>Efficiently manage the order of performances and logistics to ensure a smooth competition.</p>
        </div>
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary fa-regular fa-envelope fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Effective Communication</h2>
          <p>Send out invitations and notifications for the competition to all participants with ease.</p>
        </div>
      </div>

      <div class="row mt-4 gap-5 justify-content-center">
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary fa-regular fa-file-alt fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Complete Dossier Reception</h2>
          <p>Receive only complete dossiers, view and sort applications effortlessly.</p>
        </div>
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary fas fa-globe fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Online Presence</h2>
          <p>Have a personalized competition page, simplify payments and contestant registration.</p>
        </div>
        <div class="col-md-3 bg-black border-top" style="border-radius: 8px; padding: 16px;">
          <div class="text-center mb-4">
            <i class="text-secondary fas fa-tools fa-5x"></i>
          </div>
          <h2 class="h2 text-secondary-gradient">Simplify Your Life</h2>
          <p>Generate performance order, assign rooms, and score contestants, all in one place.</p>
        </div>
      </div>
    </div>
    </section>
