<h1>Pricing</h1>

<h2>Competitions</h2>
<p>For competitions, Musicast earns revenue by taking a commission per registration file. This commission is paid by the competition.</p>
<p>The user covers the payment fees, which are €0.25 plus 1.5% of the registration fee.</p>
<p>However, once the total amount of commissions reaches €1000 (which corresponds to 200 applications), we no longer take a commission. Beyond this point, we only take the Stripe payment fees to cover costs.</p>

<h2>Auditions, Masterclasses, and Internships</h2>
<p>For auditions, masterclasses, and internships, Musicast earns revenue from the deposit of the announcement and its duration.</p>
