<div id="<%= dom_id free_choice %>">
  <p>
    <strong>Programme requirement:</strong>
    <%= free_choice.programme_requirement_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= free_choice.number %>
  </p>

  <p>
    <strong>Max length minutes:</strong>
    <%= free_choice.max_length_minutes %>
  </p>

</div>
