<h1><%= t('free_choices.edit.title') %></h1>

<%= render "form", free_choice: @free_choice %>

<br>

<div>
  <%= link_to t('free_choices.edit.show'), @free_choice %> |
  <%= link_to t('free_choices.edit.back'), free_choices_path %>
</div>
