<h1>Editing free choice</h1>

<%= render "form", free_choice: @free_choice %>

<br>

<div>
  <%= link_to "Show this free choice", @free_choice %> |
  <%= link_to "Back to free choices", free_choices_path %>
</div>
