<p style="color: green"><%= notice %></p>

<h1>Free choices</h1>

<div id="free_choices">
  <% @free_choices.each do |free_choice| %>
    <%= render free_choice %>
    <p>
      <%= link_to "Show this free choice", free_choice %>
    </p>
  <% end %>
</div>

<%= link_to "New free choice", new_free_choice_path %>
