<div id="<%= dom_id inscription %>">
  <p>
    <strong>Candidat:</strong>
    <%= inscription.candidat_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= inscription.category_id %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= inscription.statut %>
  </p>

</div>
