
<% if inscription.has_complete_requirement_items? %>
<div class="rounded-pill border border-success text-secondary bg-success-secondary py-1 px-2">
  <i class="fas fa-check text-success"></i> Pièces requises renseignées
</div>
<% else %>
  <div class="rounded-pill border border-warning text-secondary bg-warning-secondary py-1 px-2">
    <i class="fas fa-warning text-warning"></i> Pièces requises à complêter
  </div>
<% end %>
