
<% if inscription.is_payed? %>
<div class="rounded-pill border text-secondary border-success bg-success-secondary py-1 px-2">
  <i class="fas fa-check text-success"></i> Inscription payée
</div>
<% else %>
  <div class="rounded-pill border border-warning text-secondary bg-warning-secondary py-1 px-2">
    <i class="fas fa-warning text-warning"></i> Inscription non payée
  </div>
<% end %>
