<% if inscription.is_payed? %>
<div class="rounded-pill  text-success border-success bg-primary-light py-1 px-2">
  <i class="fas fa-check text-success"></i> <%= t('inscriptions.pills.payment.paid') %>
</div>
<% elsif inscription.payment_proof.attached? %>
  <div class="rounded-pill  text-secondary border-success bg-success-secondary py-1 px-2">
    <i class="fas fa-check text-success"></i> <%= t('inscriptions.pills.payment.proof_submitted') %>
  </div>
<% else %>
  <div class="rounded-pill  text-secondary bg-secondary-secondary py-1 px-2">
    <i class="fas fa-warning text-info"></i> <%= t('inscriptions.pills.payment.unpaid') %>
  </div>
<% end %>
