<div class="container">
<%= render @inscription %>
<%# render le programme pas editable si c'est payé %>


<div>
  <%= button_to "Destroy this inscription", @inscription, method: :delete %>
</div>
</div>
