<div class="container">
  <%# <p class="text-center p-3 bg-success-secondary rounded-8 mt-2" style="color: green"><%= notice %>
  <%= link_to t('global.actions.back'), jury_dashboard_path, class:"mt-2 btn btn-outline-dark" %>
  <h1><%= t('inscriptions.jury_index.applications_to_rate') %></h1>

 <div id="inscriptions" class="h-100 d-flex flex-column flex-md-row flex-wrap ">
  <% @inscriptions.where(status: "in_review").each do |inscription| %>
    <div class="col-12 col-md-6 mt-1">
      <%= render "note_card", inscription: inscription %>
    </div>
  <% end %>
</div>


</div>
