<div class="container">
  <p style="color: green"><%= notice %></p>
  <%= link_to "Retour", :back %>
  <h1>Candidatures a noter</h1>

 <div id="inscriptions" class="h-100 d-flex flex-column flex-md-row flex-wrap ">
  <% @inscriptions.where(status: "in_review").each do |inscription| %>
    <div class="col-12 col-md-6 mt-1">
      <%= render "note_card", inscription: inscription %>
    </div>
  <% end %>
</div>


</div>
