<div class="container">
  <% if notice.present? %>
  <%# <p class="border p-3 border-success bg-success-secondary mt-3" style="color: green"><%= notice %>
  <% end %>
  <div class="d-flex flex-column">

    <%= render @inscription %>
  </div>
</div>
