<div class="container bg-light">
  <p style="color: green"><%= notice %></p>
  <div class="d-flex flex-column">

    <%= render @inscription %>
    <%# render le programme pas editable si c'est payé %>
  </div>
</div>
