<h1>Editing semi imposed work</h1>

<%= render "form", semi_imposed_work: @semi_imposed_work %>

<br>

<div>
  <%= link_to "Show this semi imposed work", @semi_imposed_work %> |
  <%= link_to "Back to semi imposed works", semi_imposed_works_path %>
</div>
