<div id="<%= dom_id organisateur %>">
  <p>
    <strong>User:</strong>
    <%= organisateur.user_id %>
  </p>

  <p>
    <strong>Nom organisme:</strong>
    <%= organisateur.nom_organisme %>
  </p>

  <p>
    <strong>Description organisme:</strong>
    <%= organisateur.description_organisme %>
  </p>

</div>
