<h1>Editing organisateur</h1>

<%= render "form", organisateur: @organisateur %>

<br>

<div>
  <%= link_to "Show this organisateur", @organisateur %> |
  <%= link_to "Back to organisateurs", organisateurs_path %>
</div>
