<p style="color: green"><%= notice %></p>

<h1>Organisateurs</h1>

<div id="organisateurs">
  <% @organisateurs.each do |organisateur| %>
    <%= render organisateur %>
    <p>
      <%= link_to "Show this organisateur", organisateur %>
    </p>
  <% end %>
</div>

<%= link_to "New organisateur", new_organisateur_path %>
