<h1>Editing requirement item</h1>

<%= render "form", requirement_item: @requirement_item %>

<br>

<div>
  <%= link_to "Show this requirement item", @requirement_item %> |
  <%= link_to "Back to requirement items", requirement_items_path %>
</div>
