<h1><%= t('requirement_items.edit.editing_requirement_item') %></h1>

<%= render "form", requirement_item: @requirement_item %>

<br>

<div>
  <%= link_to t('global.actions.show'), @requirement_item %> |
  <%= link_to t('global.actions.back'), requirement_items_path %>
</div>
