<p style="color: green"><%= notice %></p>

<h1>Requirement items</h1>

<div id="requirement_items">
  <% @requirement_items.each do |requirement_item| %>
    <%= render requirement_item %>
    <p>
      <%= link_to "Show this requirement item", requirement_item %>
    </p>
  <% end %>
</div>

<%= link_to "New requirement item", new_requirement_item_path %>
