/* Add to your application.scss or create a new stylesheet */
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #2a442c;
}

.sidebar-container {
  z-index: 1030;
}



.nav-link-sidebar {
  padding: 0.8rem 1rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0.25rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease;
  text-decoration: none;
}


.nav-link-sidebar.active {
  font-weight: 500;
  font-weight: bold;
}



.z-index-1050 {
  z-index: 1050;
}

/* Mobile sidebar adjustments */
@media (max-width: 767.98px) {
  .offcanvas-start {
    width: 80%;
    max-width: 300px;
  }


  .content-container {
    padding-top: 60px;
  }
}
