<div id="<%= dom_id semi_imposed_work_air %>">
  <p>
    <strong>Semi imposed work:</strong>
    <%= semi_imposed_work_air.semi_imposed_work_id %>
  </p>

  <p>
    <strong>Air:</strong>
    <%= semi_imposed_work_air.air_id %>
  </p>

</div>
