<h1>Editing semi imposed work air</h1>

<%= render "form", semi_imposed_work_air: @semi_imposed_work_air %>

<br>

<div>
  <%= link_to "Show this semi imposed work air", @semi_imposed_work_air %> |
  <%= link_to "Back to semi imposed work airs", semi_imposed_work_airs_path %>
</div>
