  <!-- Section Programme Demandé-->
 <div class="card shadow mb-5">
  <div class=" card-header d-flex justify-content-between align-items-center">
    <div>
      <h2 style="font-size: 3em;">Programme imposé</h2>
      <span class="text-secondary">Créez et modifier les listes de programmes avec leurs spécificités</span>
    </div>
  </div>

    <div class="container">

      <div class="row">
        <%= render 'choice_imposed_works_section', category: category, competition: category.competition, edition_competition: category.edition_competition if @category.includes_choice_imposed_works? %>
        <%= render 'semi_imposed_works_section', category: category, competition: category.competition, edition_competition: category.edition_competition if @category.includes_semi_imposed_works? %>
      </div>

      <div class="row">
        <% if current_user.organisateur %>
          <%= render 'imposed_works_section', category: category if @category.includes_imposed_works%>
        <% else %>
          <%= render 'imposed_works_section', category: category if category.imposed_work.any? %>
        <% end %>
      </div>

    </div>
  </div>
