<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('categories.edit.title') %></h1>
      <%= render Navigation::BackLinkComponent.new(link_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), link_text: @category.name) %>
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>
