<div class="container mt-4">
  <h1 class="mb-4">Liste des catégories</h1>

  <%= render Table::BaseComponent.new(
    rows: @categories,
    columns: [
      {
        label: "Nom de la catégorie",
        value: ->(category) { category.name }
      },
      {
        label: "Édition de compétition",
        value: ->(category) { "#{category.edition_competition.competition.nom_concours} #{category.edition_competition.annee}" }
      },
      {
        label: "Statut",
        value: ->(category) { category.status }
      }
    ],
    client: current_user,
    links: [
      {
        path: ->(category) {
          organism_competition_edition_competition_category_path(
            category.edition_competition.competition.organism,
            category.edition_competition.competition,
            category.edition_competition,
            category
          )
        },
        icon: 'eye',
        text: "Voir"
      }
    ],
    empty_message: "Aucune catégorie trouvée"
  ) %>
</div>
