<!-- app/views/pianist_accompagnateurs/_pianist.html.erb -->
<%= turbo_frame_tag "edit_pianist_frame_#{pianist.id}" do %>
<li>
  <div class="d-flex justify-content-between gap-2">
    <%= pianist.full_name %>
    <div class="d-flex">
      <% pianist_kebab_items = [
        {
          icon: "fas fa-edit",
          text: t('global.actions.edit'),
          data: { turbo_frame: "edit_pianist_frame_#{pianist.id}" },
          path: edit_organism_pianist_accompagnateur_path(@organism, pianist)
        }
      ] %>

      <% unless pianist.is_assigned_to_future_performance? %>
        <% pianist_kebab_items << {
          icon: "fas fa-trash",
          text: t('global.actions.delete'),
          path: organism_pianist_accompagnateur_path(@organism, pianist),
          method: :delete,
          data: { turbo_confirm: t('pianist_accompagnateurs.pianist.confirm_delete') },
          class: "text-danger"
        } %>
      <% end %>

      <%= render(Dropdown::KebabComponent.new(items: pianist_kebab_items, only_vertical_dots: true)) %>
    </div>
  </div>
</li>
<% end %>
