<div id="<%= dom_id imposed_work_air %>">
  <p>
    <strong>Imposed work:</strong>
    <%= imposed_work_air.imposed_work_id %>
  </p>

  <p>
    <strong>Air:</strong>
    <%= imposed_work_air.air_id %>
  </p>

</div>
