<p style="color: green"><%= notice %></p>

<h1>Imposed work airs</h1>

<div id="imposed_work_airs">
  <% @imposed_work_airs.each do |imposed_work_air| %>
    <%= render imposed_work_air %>
    <p>
      <%= link_to "Show this imposed work air", imposed_work_air %>
    </p>
  <% end %>
</div>

<%= link_to "New imposed work air", new_imposed_work_air_path %>
