<div id="<%= dom_id imposed_work %>">
  <p>
    <strong>Programme requirement:</strong>
    <%= imposed_work.programme_requirement_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= imposed_work.title %>
  </p>

  <p>
    <strong>Guidelines:</strong>
    <%= imposed_work.guidelines %>
  </p>

</div>
