<div class=" mt-5 row justify-content-center align-items-center">
  <div class="col-8 col-sm-6 shadow p-3">
    <h1>Modifier les oeuvres imposées</h1>
    <%= render 'form', imposed_work: @imposed_work %>
  </div>
</div>
