<div class="container">
  <h1 class="text-center" style="font-size: 3.5em;">Modifier les oeuvres imposées</h1>

  <div class="text-center text-white rounded-pill bg-info mb-5 w-50 mx-auto d-block" style="font-size: 3em;"><%= @imposed_work.category.name %></div>
  <%= render 'form', imposed_work: @imposed_work %>
</div>
