<h1>New imposed work</h1>
<div class=" mt-5 row justify-content-center align-items-center">
  <%= render "form", imposed_work: @imposed_work %>

  <br>

  <div>
    <%= link_to "Back to imposed works", imposed_works_path %>
  </div>
</div>
