<%= link_to "Retour", :back, class:"btn btn-dark my-3 mx-3" %>
<h1>Mon programme pour ce tour</h1>

<p class="text-secondary">Choisissez quels airs vous voudrez interprêter. Attention, s'il y a des airs imposés vous ne les verrez qu'après avoir crée votre programme et il faudra l'adapter en conséquence. <br>
Vous pourrez changer l'ordre des airs que vous interprêtez depuis votre dossier sur la page précédente, en glissant-déposant les airs pour réarranger leur ordre et en cliquant sur "Mettre à jour le programme"</p>
<%= render "form", performance: @performance %>

<br>

<div>
</div>
