<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %> <!-- Add this line if you have pdf.scss file in assets/stylesheets -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
